* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
}
.menu {
  display: none;
}
